* {
  margin: 0; /* define margens em volta do elemento */
  padding: 0; /*  */
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.corpo {
  padding-left: 150px;
  display: flex;
  flex-wrap: wrap;
}
.bemvindo {
  margin: auto;
}
@media print {
  .navegation {
    display: none;
  }
}
div > ul {
  display: none;
}
#menu:checked ~ ul {
  display: block;
}
.fechar-menu {
  display: none;
}
#menu:checked ~ .fechar-menu {
  display: block;
}
#menu:checked ~ .abrir-menu {
  display: none;
}
#menu {
  display: none;
}
body {
  color: black;
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.logo-acesso {
  border: 3px; /*cria bordas*/
  width: 510px;
  margin: auto;
  pad: 40px;
}
.acesso-cadastro {
  border: 3px solid rgb(17, 87, 17);
  width: 500px;
  border-radius: 30px; /*deixa a borda arredondada*/
  margin: auto; /*cria margens na imagem (auto: centraliza a imagem)*/
  padding: 50px;
}
ul {
  list-style-type: none;
  margin: auto;
  padding: auto;
  width: 150px;
  bottom: 0px;
  left: 0px;
  background-color: black;
  border: 1px solid #555;
  position: fixed;
  height: 100%;
  overflow: auto;
}
li {
  text-align: center;
  border-bottom: 1px solid #555;
  margin: auto;
}
li:last-child {
  border-bottom: none;
}
li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px;
}
li a:hover {
  background-color: lightgreen;
  color: black;
}
.acesso-login {
  border: 3px solid rgb(17, 87, 17);
  width: 500px;
  border-radius: 30px;
  margin: auto;
  padding: 50px;
}
.acesso {
  background-color: darkseagreen;
  padding: 30px;
}
.login {
  background-color: darkseagreen;
  padding: 30px;
}
.cadastro {
  background-color: darkseagreen;
  padding: 30px;
}
.sobre {
  background-color: darkseagreen;
}
.sobre-treinador {
  text-align: justify;
  border: 3px solid rgb(17, 87, 17);
  width: 1100px;
  border-radius: 30px;
  margin: auto;
  padding: 20px;
}
.index {
  background-color: darkseagreen;
  padding: 30px;
}
.texto {
  text-align: justify;
}
.tiposdetreino {
  padding: 10px;
  border: 3px solid darkgreen;
  border-radius: 40px;
  margin: auto;
  padding: 30px;
  width: 1000px;
}
.coluna1 h1 .coluna1 p {
  flex: 1;
  margin: 10px;
  margin-top: 10px;
}
.flex {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
}
.treino {
  max-width: 300px;
}
.botao:hover {
  /*hover: pseudo classe(animação de mouse)*/
  background-color: rgba(109, 214, 197, 0.445);
  cursor: pointer; /*coloca animação no ponteiro do mouse ao movimentar em cima de certo item*/
  border: 1px solid darkgreen;
}
.botao {
  width: 60px;
}
.botao-login:hover {
  background-color: rgba(109, 214, 197, 0.445);
  cursor: pointer; /*coloca animação no ponteiro do mouse ao movimentar em cima de certo item*/
  border: 1px solid darkgreen;
}
.botao-login {
  width: 60px;
  animation: none;
}
.contato {
  background-color: darkseagreen;
  padding: 30px;
  margin: auto;
  left: 10px;
}
.contatos-2 {
  padding: 20px;
  margin: auto;
}
.plano-de-treino {
  padding: 10px;
  border: 3px solid darkgreen;
  border-radius: 40px;
  margin: auto;
  padding: 30px;
  width: 1000px;
}
.plano_de_treino {
  background-color: darkseagreen;
}
.calistenia {
  background-color: darkseagreen;
  padding: 30px;
}
.calistenia-forca {
  padding: 40px;
  text-align: justify;
  margin: auto;
}
.calistenia-pull {
  padding: 10px;
  border: 3px solid rgb(95, 93, 93);
  border-radius: 20px;
  margin: auto;
  list-style: none;
}
ol{
  list-style: none;
}
.calistenia-push {
  padding: 10px;
  text-decoration: wavy;
  border: 3px solid rgb(8, 4, 236);
  border-radius: 20px;
  margin: auto;
}
.calistenia-leg {
  padding: 10px;
  text-decoration: wavy;
  border: 3px solid rgb(248, 2, 2);
  border-radius: 20px;
  margin: auto;
}
.calistenia-hipertrofia {
  padding: 40px;
  text-align: justify;
  margin: auto;
}
.hipertrofia-pull {
  padding: 10px;
  text-decoration: wavy;
  border: 3px solid rgb(95, 93, 93);
  border-radius: 20px;
  margin: auto;
}
.hipertrofia-push {
  padding: 10px;
  text-decoration: wavy;
  border: 3px solid rgb(8, 4, 236);
  border-radius: 20px;
  margin: auto;
}
.hipertrofia-leg {
  padding: 10px;
  text-decoration: wavy;
  border: 3px solid rgb(248, 2, 2);
  border-radius: 20px;
  margin: auto;
}
.ioga {
  background-color: darkseagreen;
  padding: 30px;
  margin: auto;
}
.ioga-paragrafo {
  padding: 20px;
  margin: auto;
}
.musculacao {
  padding: 40px;
  text-align: justify;
  margin: auto;
}
.hipertrofia-pull {
  padding: 10px;
  text-decoration: wavy;
  border: 3px solid rgb(95, 93, 93);
  border-radius: 20px;
  margin: auto;
}
.hipertrofia-push {
  padding: 10px;
  text-decoration: wavy;
  border: 3px solid rgb(8, 4, 236);
  border-radius: 20px;
  margin: auto;
}
.hipertrofia-leg {
  padding: 10px;
  text-decoration: wavy;
  border: 3px solid rgb(248, 2, 2);
  border-radius: 20px;
  margin: auto;
}
.musc {
  background-color: darkseagreen;
  padding: 30px;
  margin: auto;
}

.hipertrofia {
  padding: 40px;
  text-align: justify;
  margin: auto;
}
.força-pull {
  padding: 10px;
  text-decoration: wavy;
  border: 3px solid rgb(95, 93, 93);
  border-radius: 20px;
  margin: auto;
}
.força-push {
  padding: 10px;
  text-decoration: wavy;
  border: 3px solid rgb(8, 4, 236);
  border-radius: 20px;
  margin: auto;
}
.força-leg {
  padding: 10px;
  text-decoration: wavy;
  border: 3px solid rgb(248, 2, 2);
  border-radius: 20px;
  margin: auto;
}
.foto_calistenia {
  border: solid 4px lightgreen;
  border-radius: 5px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 60px;
  border-left-color: darkgreen;
  border-right-color: green;
}
.foto_ioga {
  border: solid 4px lightskyblue;
  border-radius: 5px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 60px;
  border-left-color: darkblue;
  border-right-color: blue;
}
.foto_musc {
  border: solid 4px rgb(170, 42, 42);
  border-radius: 50px;
  border-top-color: red;
  border-top-color: crimson;
  border-bottom-color: darkred;
  border-right-color: firebrick;
}
.navega {
  position: fixed;
  top: 0px;
  left: 150px;
}
