* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

:root {
  --backgroundcolor: darkseagreen;
  --textcolor: black;
  --font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  color: var(--textcolor);
  background-color: var(--backgroundcolor);
  text-align: center;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: black;
}
li {
  float: left;
}
li:last-child {
  border-bottom: none;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: lightgreen;
  color: black;
}
.index {
  background-color: var(--backgroundcolor);
}
.bemvindo {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.treino {
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}
.coluna1 h1 .coluna1 p {
  flex: 1;
  margin: 10px;
  margin-top: 10px;
}
.rodape {
  margin-top: 40px;
  margin-bottom: 10px;
}
.treininho {
  padding: 20px;
  border: 3px solid darkgreen;
  border-radius: 40px;
  margin: auto;
  width: 1000px;
}
@media print {
  .navegation {
    display: none;
  }
}
.abrir-menu{
  opacity: 0;
  float: left;
}
.fechar-menu{
  opacity: 0;
  float: left;
}
@media (max-width: 600px) {
  div > ul {
    display: none;
  }
  div:hover > ul {
    display: flex;
    flex-direction: column;
  }
  .abrir-menu{
    opacity: 100%;
    margin: 1rem;
  }
  div:hover .abrir-menu{
    display: none;
  }
  div:hover .fechar-menu{
    display: block;
    opacity: 100%;
    margin: 1rem;
  }
}



